<html>
<head>
    <title>Admin | Posts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../stylesheets/style.css"> -->
    
</head>

<body>
    
    <div class="m-5 p-5">
        <h3 class="mydiv mydiv2">Post List</h3>
        <div class="col col-12 mb-3 mydiv">
            <button class="btn btn-info mydiv mydiv1" onclick="users()">User List</button>
            <button class="btn btn-info mydiv mydiv" style="width: 120px; margin-left: 3px;" onclick="blogs()">Blog List</button>            
            <button class="btn btn-dark mydiv mydiv3" onclick="logout()">Logout</button>
        </div>

        <div class="col col-12 text-center mb-3">            
          
        </div>
        <div class="page" style="width: auto;">
            <div id="loading"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
            <table id="student_table" class="table table-bordered" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Desciption</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table><br>
            <div class="text-center">
                <button type="button" data-toggle="modal" data-target="#add-modal" class="btn btn-success mydiv4">Add Post</button>
            </div>
        </div>
    </div>
    <div id="msg_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h4 id="val2" style="color: green;"></h4>
                </div>
            </div>
        </div>
    </div>
    <div id="err_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h4 id="val1" style="color: red;"></h4>
                </div>
            </div>
        </div>
    </div>
    <div id="add-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Post</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="formId">
                        <div class="pb-3">
                            Title: <input type="text" name="title" id="title" class="form-control"
                            value="<% if(typeof title != 'undefined'){ %><%= title %><% }%>" maxlength="20">
                            <span id="error_msg"></span>
                        </div>
                        <div>
                            Description: <input type="text" name="desc" id="desc" class="form-control"
                            value="<% if(typeof desc != 'undefined'){ %><%= desc %><% }%>" maxlength="30">
                            <span id="error_msg"></span>
                        </div>                        
                        
                        <input type="hidden" name="id" id="id"
                            value="<% if(typeof id != 'undefined'){%><%= _id%><% } %>"><br>
                        <input type="button" name="insert" id="insert" value="Add" onclick="addFunc()"
                            class="btn btn-success" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="update_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Data</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="update_form">
                        <div>
                            Title: <input type="text" name="title" id="title1" class="form-control" maxlength="20">
                        </div>
                       <div>
                        Desciption: <input type="text" name="desc" id="desc1" class="form-control" maxlength="30">
                       </div>
                        
                        <input type="hidden" name="id" id="id1"><br>
                        <input type="button" name="update" value="Update" onclick="EditFunc()"
                            class="btn btn-success" />
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="delete_modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are Sure you want to delete record ??</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="delete_form">
                        <input type="hidden" name="delid" id="delid"><br>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancle</button>
                        <input type="button" name="delete" id="delete-btn" value="Delete" onclick="DelFunc()"
                            class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- <script src="https://code.jquery.com/jquery-3.5.0.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>


    $(document).ready(function () {
        $("#student_table").hide();
        var tokendata = localStorage.getItem('secret-token')
        var id = localStorage.getItem('id');

        dispData();

    });

    function dispData(id) {

        var tokendata = localStorage.getItem('secret-token')
        if (id) {
            $('#update_modal').modal('show');
            $.ajax({
                url: "/post/admin/" + id,
                type: "GET",
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', tokendata); },
                success: function (data) {
                    $('#loading').hide();

                    const pdata = JSON.stringify(data.data);
                    const postData = JSON.parse(pdata);
                    $('#update_modal').modal('show');
                    $('#title1').val(postData.title);
                    $('#desc1').val(postData.desc);
                    $('#id1').val(postData._id);
                },
                error: function (data) {
                    $('#loading').hide();
                    $('#update_modal').modal('hide');
                    document.getElementById('val2').innerHTML = data.responseText;
                    $('#err_modal').modal('show').on('shown.bs.modal', function (f) {
                        setTimeout(function () {
                            
                            if(data.responseJSON.status="false")
                            {
                                location.reload();
                            }
                            else{
                                localStorage.clear();
                                location.href = "/auth/login";
                            }
                            
                        }, 2000);
                    })
                },
            });
        } else {
            $.ajax({
                url: "/post/admin",
                type: "GET",
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', tokendata); },
                success: function (data) {
                    $('#loading').hide();
                    $("#student_table").show();
                    
                    $('#student_table').DataTable({
                        data: data.data,
                        columns: [
                            { data: 'title' },
                            { data: 'desc' },
                            {
                                data: data,
                                className: "dt-center editor-edit",
                                "render": function (data, type, row, meta)
                                {
                                    return '<button class="btn_edit btn btn-info" onclick="dispData(\'' + data._id + '\')"><i class="fa fa-pencil"/></button>'; 
                                },
                                orderable: false
                            },
                            {
                                data: data,
                                className: "dt-center editor-delete",
                                "render": function (data, type, row, meta)
                                { 
                                    return '<button class="btn_del btn btn-danger" onclick="deleteopen(\'' + data._id + '\')"><i class="fa fa-trash"/></button>'; 
                                },
                                orderable: false
                            }
                        ]
                    });
                },
                error: function (data) {
                    $('#loading').hide();
                    document.getElementById('val1').innerHTML = data.responseJSON.message;
                    $('#err_modal').modal('show').on('shown.bs.modal', function (f) {
                        setTimeout(function () {
                            
                            if(data.responseJSON.status="error")
                            {
                                history.go(-1);                                
                            }
                            else if(data.responseJSON.status="false"){
                               location.reload();                                
                            }
                            else{
                                localStorage.clear();
                                location.href = "/auth/login";
                            }
                            
                        }, 2000);
                    })
                },
            });
        }
    }

    function addFunc() {
        $("#formId").validate({
            rules: {
                title: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                desc: {
                    required: true,
                    minlength: 3,
                    maxlength: 30
                }
            },
            messages: {

                title: {
                    required: "Enter Title",
                },
                desc: {
                    required: "Enter Description",
                }
            },
            submitHandler: function (form) {
                form.submit();
            },
            errorPlacement: function (label, element) {
                label.insertAfter(element);
            },
        })
        if ($("#formId").valid()) {
            const formData = $('#formId').serialize();
            var tokendata = localStorage.getItem('secret-token')
            var id = localStorage.getItem('id');
            $.ajax({
                type: "POST",
                url: '/post',
                data: $('#formId').serialize(),
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', tokendata); },
                success: function (data) {
                    document.getElementById('val2').innerHTML = 'Record Added...'
                    $('#add-modal').modal('hide');
                    $('#msg_modal').modal('show').on('shown.bs.modal', function (f) {
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    })
                },
                error: function (data) {
                    $('#add-modal').modal('hide');
                    document.getElementById('val1').innerHTML = data.responseJSON.message;
                    $('#err_modal').modal('show').on('shown.bs.modal', function (f) {
                        setTimeout(function () {
                            
                            if(data.responseJSON.status="false")
                            {
                                location.reload();
                            }
                            else{
                                localStorage.clear();
                                location.href = "/auth/login";
                            }
                            
                        }, 2000);
                    })
                }
            });
        }
    }

    function EditFunc() {
        $("#update_form").validate({
            rules: {
                title: {
                    required: true,
                    minlength: 3,
                    maxlength: 20
                },
                desc: {
                    required: true,
                    minlength: 3,
                    maxlength: 30
                }
            },
            messages: {

                title: {
                    required: "Enter Title",
                },
                desc: {
                    required: "Enter Description",
                }
            },
            submitHandler: function (form) {
                form.submit();
            },
            errorPlacement: function (label, element) {
                label.insertAfter(element);
            },
        })
        if ($("#update_form").valid()) {
            var tokendata = localStorage.getItem('secret-token')
            var id1 = $('#id1').val();
            const formData = $('#update_form').serialize();

            $.ajax({
                type: "PUT",
                url: '/post/admin/' + id1,
                data: formData,
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', tokendata); },
                success: function (data) {
                     document.getElementById('val2').innerHTML = 'Record Updated...'
                    $('#update_modal').modal('hide')
                    $('#msg_modal').modal('show').on('shown.bs.modal', function (f) {
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    })
                },
                error: function (data) {
                    $('#update_modal').modal('hide')
                    document.getElementById('val1').innerHTML = data.responseJSON.message;
                    $('#err_modal').modal('show').on('shown.bs.modal', function (f) {
                        setTimeout(function () {
                            
                            if(data.responseJSON.status="false")
                            {
                                location.reload();
                            }
                            else{
                                localStorage.clear();
                                location.href = "/auth/login";
                            }
                            
                        }, 2000);
                    })
                }
            });
        }
    }

    function deleteopen(id) {
        $('#delete_modal').modal('show');
        $('#delid').val(id);
    }

    function DelFunc() {
        var tokendata = localStorage.getItem('secret-token')
        var id1 = $('#delid').val();
        $.ajax({
            type: "DELETE",
            url: '/post/' + id1,
            beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', tokendata); },
            success: function (data) {
                document.getElementById('val2').innerHTML = 'Record Deleted...'
                $('#delete_modal').modal('hide');
                $('#msg_modal').modal('show').on('shown.bs.modal', function (f) {
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                })
            },
            error: function (data) {
                $('#delete_modal').modal('hide');
                document.getElementById('val1').innerHTML = data.responseJSON.message;
                $('#err_modal').modal('show').on('shown.bs.modal', function (f) {
                        setTimeout(function () {
                            
                            if(data.responseJSON.status="false")
                            {
                                location.reload();
                            }
                            else{
                                localStorage.clear();
                                location.href = "/auth/login";
                            }
                            
                        }, 2000);
                    })
            }
        });
    }

    function logout()
    {   localStorage.clear();
        location.href="/auth/login"
    }
    function users(){
        location.href="/user/list"
    }

    function blogs(){
        location.href="/blog/index"
    }
</script>


</html>